body{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
}
h1{
    text-align: center;
    color: darkgreen;
}
.location{
    color: lightcoral;
}
#main{
    display: flex;
    max-width: 800px;
    margin: 0 auto;
}
#aboutparagraph{
    background-color:white;
    width: 50%;
}
#welcomebanner{
    object-fit: cover;
}
#logoimage{
    height: 50px;
    width: 50px;
    max-height: 50px;
    padding: 10px;
    padding-bottom: 8px;
    
}
#editlogo{
    height: 45px;
    width: 45px;
}

#course1{
    margin: 0 auto;
    max-width: 800px;
}
.link{
    float: right;
    margin-top: -100px;
    color: blue;
    
}
#aboutpicture{
    width: 50%;
    background-color: white;
}
#linkmodify{
    height: 100%;
    width: 100%;

}
a{
    text-decoration: none;
} 
#foot{
    height: 20px;
    max-width: 800px;
    margin: 50px auto 0px auto;
    text-align: center;
}
#contact li{
    list-style: none;
    display: inline;
    margin: 16px;
    text-align: center;



}
.copyright{
    list-style: none;
    margin: auto;
    text-align: center;
    color: rgb(91, 90, 90);
    
    
}
#course1{
    text-decoration: none;
}